* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Baloo Tammudu 2', cursive;
}

/* COMMON RULES*/
.img-container > img {
height: 100%;
}

/* END COMMON RULES*/
body {
background-color: rgb(226, 215, 226);
}

.container {
width: 50%;
background-color: white;
}

header {
height: 130px;
background-color: #fdbb40;
display: flex;
justify-content: space-between;
}

header h1 {
flex: 1 0 auto;
margin-left: 50px;
margin-top: 40px;
}

header .img-container {
height: 230px;
margin-top: -20px;
margin-right: -70px;
}

@media all and (max-width: 1199px){
.container {
width: 80%;
}
}

@media all and (max-width: 991px){
.container {
width: 100%;
}
}

